{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CookieHouse</title>
  <meta content="تهیه و طراحی انواع کوکی و بیسکوییت مناسبتی با  رویال آیسینگ" name="description">
  <meta content="کوکی رویال آیسینگ " name="keywords">

  <!-- Favicons -->
  <link href="{% static '' %}assets/img/logo.png" rel="icon">
  <link href="{% static '' %}assets/img/logo.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static '' %}assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="{% static '' %}assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="{% static '' %}assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="{% static '' %}assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="{% static '' %}assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static '' %}assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div id="logo">
        <h1>              <a href="{% url 'home' %}" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="{% url 'home' %}">__<span>Cookie</span>House</a>__</h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">خانه</a></li>
          <li><a class="nav-link scrollto" href="#about-us">درباره</a></li>
          <li><a class="nav-link scrollto" href="#get-started">خدمات</a></li>
          <li><a class="nav-link scrollto" href="#screenshots">جدید ترین ها</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">گالری</a></li>
          <li><a class="nav-link scrollto" href="#blog"> کوکی بلاگ</a></li>
          <li><a class="nav-link scrollto" href="#newsletter">ارتباط با ما</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-in">
      <h1>CookieHouse</h1>
      <h2>قبول سفارش انواع بیسکوییت مناسبتی</h2>
      <img src="{% static '' %}assets/img/green.png" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100">
      <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn-get-started scrollto">ثبت سفارش</a>
      <div class="btns">
        <a href="#"><i class="fa fa-apple fa-3x"></i>#کوکی</a>
        <a href="#"><i class="fa fa-play fa-3x"></i>رویال_آیسینگ</a>
        <a href="#"><i class="fa fa-windows fa-3x"></i>ماکارون#</a>
      </div>
    </div>
  </section><!-- End Hero Section -->
  <div dir="rtl" class="modal fade" id="exampleModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div dir="ltr" class="modal-header">
          <h5 class="modal-title">ثبت سفارش </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="sefaresh-form" method="post" enctype="multipart/form-data" action="{% url 'sefaresh' %}" class="">
                {% csrf_token %}
                <div class="form-floating mb-3">
                  <input type="text" name="name" class="form-control rounded-3" id="floatingInput" placeholder="نام">
                  <label for="floatingInput">نام و نام خانوادگی</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="file" name="image" class="form-control rounded-3" id="floatingPassword" placeholder="">
                    <label for="floatingPassword">آپلود تصویر طرح مورد نظر</label>
                  </div>
  
    
                <div class="form-floating mb-3">
                  <input type="email" name="email" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com">
                  <label for="floatingInput">آدرس ایمیل</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" name="phone" class="form-control rounded-3" id="floatingPassword" placeholder="PhoneNumber">
                  <label for="floatingPassword">شماره همراه</label>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" name="message" rows="5" placeholder="توضیحات سفارش " required></textarea>
                </div>
                <br>

    
                <button class="w-100 mb-2 btn btn-lg rounded-3 btn-success" type="submit"> تایید و ارسال</button>
                <hr class="my-4">
              </form>
    
        </div>
      </div>
    </div>
  </div>
  <script>
    const order = document.getElementById('sefaresh-form');
  order.addEventListener("submit",submitHandler);
  function submitHandler(e) {
      var serializedData = $(this).serialize();
      e.preventDefault();
      $.ajax({
          type: 'POST' , 
          url : '{% url "sefaresh" %}',
          data: new FormData(this),
          processData: false,
          contentType: false,
          dataType: 'json',
          success: function (data) {
              if (data.msg === 'Success') {
                  alert('  سفارش شما ثبت شد , به زودی با شما تماس میگیریم  ');
                  $("#sefaresh-form").trigger('reset'); 
        } else {
          alert('فرم صحیح نیست , لطفا دوباره امتحان کنید')
        }
      }
   })
  }
  
  </script>

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us padd-section">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">

          <div class="col-md-5 col-lg-3">
            <img src="{% static '' %}assets/img/about.png" alt="About" data-aos="zoom-in" data-aos-delay="100">
          </div>

          <div dir="rtl" class="col-md-7 col-lg-5">
            <div class="about-content" data-aos="fade-left" data-aos-delay="100">

              <h2><span>درباره </span>کوکی هاوس</h2>
              <p> کوکی هاوس با تجربه نزدیک به یک دهه در تولید و طراحی کوکی های خانگی و طرح های رویال آیسینگ کاستوم به دلخواه مشتری مشغول به فعالیت هست
              </p>

              <ul class="list-unstyled">
                <li><i class="vi bi-chevron-right"></i>طراحی خارق العاده</li>
                <li><i class="vi bi-chevron-right"></i>خوشمزه و بهداشتی</li>
                <li><i class="vi bi-chevron-right"></i>بدون محدودیت در دیزاین</li>
                <li><i class="vi bi-chevron-right"></i>ایده های خلاقانه </li>
                <li><i class="vi bi-chevron-right"></i>ایده آل برای مناسبت ها</li>
              </ul>

            </div>
          </div>

        </div>
      </div>
    </section><!-- End About Us Section -->
        <!-- ======= Get Started Section ======= -->
    <section id="get-started" class="padd-section text-center">

      <div class="container">
        <div class="row">

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="feature-block">

              <img src="{% static '' %}assets/img/svg/cloud.svg" alt="img">
              <h4>طراحی کوکی با رویال آیسینگ</h4>
              <p>طرح های کاستوم و دلخواه خودتون رو به ما بگید و به بهترین نحو تحویل بگیرید</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="feature-block">

              <img src="{% static '' %}assets/img/svg/planet.svg" alt="img">
              <h4>ساخت قالب و کاتر کوکی</h4>
              <p>ساخت کاتر کوکی و فوندانت با طرح دلخواه شما</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="feature-block">

              <img src="{% static '' %}assets/img/svg/asteroid.svg" alt="img">
              <h4>ثبت سفارشات مناسبتی</h4>
              <p>میتونید برای ثبت سفارش مناسبت های مختلف مثل تولد ,عروسی, ولنتاین , نوروز و ... با ما مشورت کنید</p>
            </div>
          </div>

        </div>
      </div>

    </section><!-- End Get Started Section -->




    <!-- ======= Screenshots Section ======= -->
    <section id="screenshots" class="padd-section text-center">

      <div class="container" data-aos="fade-up">
        <div class="section-title text-center">
          <h2>جدید ترین طرح های کوکی هاوس</h2>
          <p class="separator">میتونید با ورق زدن تصاویر واسه طرح خودتون ایده بگیرید</p>
        </div>

        <div class="screens-slider swiper">
          <div class="swiper-wrapper align-items-center">
            {% for a in n %}
            <div class="swiper-slide"><img src="{{a.imageURL}}" class="img-fluid" alt="{{a.name}}"></div>
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

    </section><!-- End Screenshots Section -->
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title text-center">
          <h2>گالری تصاویر</h2>
          <p>برخی از نمونه کارهای ما</p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">همه</li>
              {% for a in c %}
              <li data-filter=".filter-{{a.number}}">{{a.name}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
          {% for a in p %}


          <div class="col-lg-3 col-md-6 portfolio-item filter-{{a.category.number}}">
            <div class="portfolio-wrap">
              <img src="{{a.imageURL}}" class="img-fluid" alt="{{a.name}}">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <a href="{{a.imageURL}}" data-gallery="portfolioGallery" class="portfolio-lightbox" class="portfolio-details-lightbox" title=" "><i class="bx bx-link"></i><i class="bi bi-eye-fill"></i> </a>                </div>
              </div>
            </div>
          </div>
        {% endfor %}


        </div>

      </div>
    </section><!-- End Portfolio Section -->




    <!-- ======= Blog Section ======= -->
    <section id="blog" class="padd-sectio">

      <div class="container" data-aos="fade-up">
        <div class="section-title text-center">

          <h2>کوکی بلاگ</h2>
          <p class="separator">دانستنی , آموزش و سرگرمی. از دنیای خوشمزه ی کوکی ها</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
        {% for a in b  %}
          <div class="col-md-6 col-lg-4">
            <div class="block-blog text-left">
              <a href="#"><img src="{{a.imageURL}}" alt="img"></a>
              <div class="content-blog">
                <h4><a href="#">    {{a.title}} </a></h4>
                <span>&#128151;</span>
                <a class="float-end readmore" data-bs-toggle="modal" data-bs-target="#box{{a.id}}" href="">خواندن مطلب</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section><!-- End Blog Section -->
    {% for a in b %}
    <div id="box{{a.id}}" class="modal fade " tabindex="-1">
      <div  class="modal-dialog modal-fullscreen modal-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{a.title}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div  class="modal-body">
            <section id="speakers-details">
              <div class="container">
        
                <div class="row">
                  <div class="col-md-6">
                    <img src="{{a.imageURL}}" alt="Speaker 1" class="img-fluid">
                  </div>
        
                  <div class="col-md-6">
                    <div class="details">
                      <div class="social">
                        <a href="https://t.me/+989353076803"><i class="bi bi-telegram"></i></a>
                        <a href="https://wa.me/+989353076803"><i class="bi bi-whatsapp"></i></a>
                        <a href="https://www.instagram.com/__cookiehouse__/"><i class="bi bi-instagram"></i></a>
                      </div>
                      <p style="font-size: medium;text-align: justify;">{{a.text}}.</p>
        
                    </div>
                  </div>
        
                </div>
              </div>
        
            </section>
        
.....
          </div>
        </div>
      </div>
    </div>
    
    {% endfor %}

    <!-- ======= Newsletter Section ======= -->
    <section id="newsletter" class="newsletter text-center">
      <div class="overlay padd-section">
        <div class="container" data-aos="zoom-in">

          <div class="row justify-content-center">
            <div class="col-md-9 col-lg-6">
              <h4>
                برای ارتباط با ما روی یکی از لینک های زیر کلیک کنید
              </h4>


            </div>
          </div>

          <ul class="list-unstyled">
            <li><a href="https://t.me/+989353076803"><i class="bi bi-telegram"></i></a></li>
            <li><a href="https://wa.me/+989353076803"><i class="bi bi-whatsapp"></i></a></li>
            <li><a href="https://www.instagram.com/__cookiehouse__/"><i class="bi bi-instagram"></i></a></li>
            <li><a href="tel:+989353076803"><i class="bi bi-phone"></i></a></li>

          </ul>

        </div>
      </div>
    </section><!-- End Newsletter Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer class="footer">

    <div class="copyrights">
        <p>&copy; Copyrights CookieHouse. All rights reserved.</p>
        <div class="credits">
          Designed by <a href="https://instagram.com/ashkansarshari">AshkanSarshari</a>
        </div>
    </div>

  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static '' %}assets/vendor/aos/aos.js"></script>
  <script src="{% static '' %}assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="{% static '' %}assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="{% static '' %}assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="{% static '' %}assets/vendor/php-email-form/validate.js"></script>
  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


  <!-- Template Main JS File -->
  <script src="{% static '' %}assets/js/main.js"></script>

</body>

</html>